.ad-container {
	padding: 24px 0;
}

.ad-container[data-type="desktop"].ad-centered {
	@include bp(medium) {
		align-items: center;
		display: flex;
		flex-direction: column;
	}
}

.ad-container[data-type="desktop"].ad-floated-right {
	padding: 0;
	margin: 0 -15px;
	@include bp(medium) {
		margin: 0 -45px;
	}
	@include bp(780px) {
		margin: 0 -55px;
	}
	@include bp(830px) {
		margin: 0 -70px;
	}
	@include bp(860px) {
		margin: 0 -85px;
	}
	@include bp(large) {
		margin: 0 -145px;
	}
	.ad-desktop {
		clear: both;
		float: right;
		margin: 0 1.25rem 1.75rem 2.25rem;
		width: auto;
	}
}

.ad-container[data-type="desktop"].ad-fullwidth {
	display: none;
	@include bp(1000px) {
		display: block;
		margin: 0 -230px;
	}
}
